/* VARIABLES */
:root {
    --bg-color: rgba(46,46,46,1);
    --text-color: rgba(230,230,230,1);
    --accent-color: rgba(50,200,150,0.3);
    --accent-color2: rgba(200, 50, 50, 0.3);
    --selection: rgba(138,2,181,1);
    --border-radius: 5px;
    --bg-img: '';
}

/* GLOBALS */
* {
    font-family: Comfortaa, sans-serif;

    margin: 0;
    padding: 0;
}

body, html {
    overflow: hidden;
    background-image: var(--bg-img);
    background-size: cover;
    background-color: var(--bg-color);
    color: var(--text-color);

    height: 100%;
    width: 100%;
}

::selection {
    background: var(--selection);
}

@font-face {
    font-family: 'Futura LT Light';
    font-style: normal;
    font-weight: normal;

    /* Intellij error is not real, it won't hurt you */
    src: local('Futura LT Light'), url('/fonts/FuturaLTLight.woff') format('woff');
}

h1, h2, h3, p  {
    font-family: 'Futura LT Light', serif;
}

.draggable {
    user-select: none;
    cursor: move;
    border: solid 1px gray;
    position: absolute;
}

.pointer {
    cursor: pointer;
}