* {
    font-family: Comfortaa, sans-serif;
    color: #fff;

    margin: 0;
    padding: 0;
}

body, html {
    overflow: hidden;
    background-color: #2e2e2e;

    height: 100%;
    width: 100%;
}

::selection {
    background: #8a02b5;
}

@font-face {
    font-family: 'Futura LT Light';
    font-style: normal;
    font-weight: normal;

    /* Intellij error is not real, it won't hurt you */
    src: local('Futura LT Light'), url('/fonts/FuturaLTLight.woff') format('woff');
}

h1, h2 {
    font-family: 'Futura LT Light', serif;
}